<ion-content>
  <div class="ion-content-b">
    <form #form="ngForm">
      <ion-grid>
        <ion-row justify-content-center>
          <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
            <div text-center>
              <h3>Join ValidiTY</h3>
            </div>
            <div class="content-flow" padding>

              <ion-item>
                <ion-icon slot="start" name="person"></ion-icon>
                <ion-input name="name" type="text" placeholder="Name" ngModel required></ion-input>
              </ion-item>

              <ion-item>
                <ion-icon slot="start" name="mail"></ion-icon>
                <ion-input name="email" type="email" placeholder="your@email.com" ngModel required></ion-input>
              </ion-item>

              <ion-item>
                <ion-icon slot="start" name="call"></ion-icon>
                <ion-input name="number" type="number" placeholder="Number" ngModel required></ion-input>
              </ion-item>

              <ion-item>
                <ion-icon slot="start" name="key"></ion-icon>
                <ion-input name="password" type="password" placeholder="Password" ngModel required></ion-input>
              </ion-item>

              <ion-item>
                <ion-icon slot="start" name="key"></ion-icon>
                <ion-input name="confirm" type="password" placeholder="confirm Password" ngModel required></ion-input>
              </ion-item>

              <ion-item>
                <ion-icon slot="start" name="ribbon"></ion-icon>
                <ion-select placeholder="Select Account Type">
                  <ion-select-option value="peperoni">Doctor</ion-select-option>
                  <ion-select-option value="retailer">Retailer</ion-select-option>
                  <ion-select-option value="deliviry">Delivery</ion-select-option>
                  <ion-select-option value="individual">Individual</ion-select-option>
                </ion-select>
              </ion-item>


              <div>
                <ion-checkbox #checkbok slot="start"></ion-checkbox>
                <ion-label>Agree to terms and conditions</ion-label>
              </div>

            </div>
            <div class='signup-button' padding>
              <ion-button [disabled]='!checkbok.checked' type="submit" (click)="logedIn()">Register</ion-button>
            </div>
            <div padding text-center>
              <p class="text-center">
                Already Have Account? <a routerLink='/login'> Log In</a>
              </p>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </form>
  </div>
</ion-content>