<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Shopping
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <div>
      <ion-grid no-padding>
        <ion-row>
          <ion-col size="6">
            <ion-card>
              <ion-card-header>
                <ion-img src='../../../assets/assets.jpg'></ion-img>
              </ion-card-header>
              <ion-card-content>
                Awesome content
              </ion-card-content>
            </ion-card>
          </ion-col>
          <ion-col size="6">
            <ion-card>
              <ion-card-header>
                <ion-img src='../../../assets/assets_2.jpg'></ion-img>
              </ion-card-header>
              <ion-card-content>
                Awesome content
              </ion-card-content>
            </ion-card>
          </ion-col>
          <ion-col size="6">
            <ion-card>
              <ion-card-header>
                <ion-img src='../../../assets/assets_3.jpg'></ion-img>
              </ion-card-header>
              <ion-card-content>
                Awesome content
              </ion-card-content>
            </ion-card>
          </ion-col>
          <ion-col size="6">
            <ion-card>
              <ion-card-header>
                <ion-img src='../../../assets/assets_4.jpg'></ion-img>
              </ion-card-header>
              <ion-card-content>
                Awesome content
              </ion-card-content>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </div>
</ion-content>